* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(153, 153, 153, 0.077);
  font-weight: 400;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App {
  position: relative;
}

.post__profile__picture {
  height: 50px;
  width: 50px;
  border-radius: 12px;
}

.btn {
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 12px;
}

.btn-small {
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 12px;
}

.btn:hover,
.btn-small:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #a875fd;
  color: #fff;
  transition: all 0.3s;
}

.btn-primary-outline {
  /* border: 2px solid #a875fd; */
  box-shadow: inset 0px 0px 0px 2px #a875fd;
  background: none;
  transition: all 0.2s;
}

.btn-primary-outline:hover {
  background-color: #a875fd;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #8756d5;
}
