.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 48px;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-link {
  text-decoration: none;
  color: #333;
}

.navbar-link > ion-icon {
  font-size: 2.4rem;
  background-color: #a975fd24;
  padding: 1.2rem;
  border-radius: 12px;
  color: #333;
  transition: all 0.4s;
}

.navbar-link > p {
  font-size: 1.8rem;
  padding: 1.2rem;
  background-color: #a975fd24;
  border-radius: 12px;
  color: #333;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-link > p > ion-icon {
  font-size: 2.4rem;
}

.navbar-link > p:hover,
.navbar-link > ion-icon:hover {
  background-color: #a975fd4e;
}
