.post {
  background-color: #fff;
  border-radius: 12px;
  margin-top: 2.4rem;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
}

.post__header__left {
  display: flex;
  gap: 1.2rem;
}

.post__profile__picture {
  object-fit: cover;
}

.post__header__right__name__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.post__header__right__name {
  font-weight: 550;
  font-size: 1.6rem;
}

.post__header__right__time {
  font-size: 1.2rem;
  color: #888;
}

.post__header__right > ion-icon {
  font-size: 2rem;
}

.post__description {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0 2rem 1.2rem 2rem;
}

.post__image {
  width: 100%;
}

.post__reactions {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 2rem;
  font-size: 2.4rem;
}

.post__reactions > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
}

.reaction__message {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.post__reactions__left {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

#post__reactions__icon {
  font-size: 2.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

#post__reactions__icon:hover {
  color: #a875fd;
}

#liked {
  font-size: 2.8rem;
  color: red;
  animation: liked 0.5s forwards;
  cursor: pointer;
}

@keyframes liked {
  0% {
    /* transform: scale(0); */
  }
  40% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(0.7);
  }

  100% {
    /* transform: scale(0); */
  }
}

.comment-bubble {
  position: relative;
  cursor: pointer;
}

.comment-bubble > span {
  height: 15px;
  width: 15px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  font-size: 1rem;
  border-radius: 100px;
  background-color: #a875fd;
  padding: 2px;
  color: white;
  font-weight: 700;
  top: -1px;
  right: -2px;
}
