.section-signup {
  padding: 3.8rem 0;
  width: 100vw;
}

.logo {
  height: 6rem;
}

.signup {
  max-width: 45rem;
  margin: 0 auto;
  padding: 2.4rem;
  border-radius: 12px;
  box-shadow: 5px 5px 24px 5px rgba(0, 0, 0, 0.1);
}

.signup__header {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 2.4rem 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.signup__form__div {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.signup__form__div > label {
  font-size: 1.6rem;
  border: none;
  background: none;
}

.signup__form__div > input {
  border: none;
  outline: none;
  height: 4rem;
  padding: 0 1.8rem;
  font-size: 1.6rem;
  border-radius: 12px;
}

.signup__message {
  font-size: 1.6rem;
  display: flex;
  gap: 5px;
}

.forget__password {
  color: #a875fd;
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
}
